* {
	color: #FFFFF9;
	font-family: 'Red Hat Display', sans-serif;
  }
  html {
	scroll-behavior: smooth;
	overflow-y: scroll;
  }
  .cursor-pointer {
	cursor: pointer;
  }
  .p-0 {
	padding: 0 !important;
  }
  .m-0 {
	margin: 0 !important;
  }
  .col-same-height {
	display: flex;
	flex-wrap: wrap;
  }
  .bold {
	font-weight: bold;
  }
  .underline {
	text-decoration: underline;
  }
  .italic {
	font-style: italic;
  }
  .align-center {
	text-align: center;
  }
  .linkedin-bg-color {
	background-color: #0077B5 !important;
  }
  .github-bg-color {
	background-color: #24292E !important;
  }
  .stackoverflow-bg-color {
	background-color: #F48024 !important;
  }
  .parallax {
	display: flex;
	justify-content: center;
  }
  .parallax div {
	position: absolute;
	z-index: 99;
  }
  .parallax div h1,
  .parallax div h6,
  .parallax div h3 {
	color: #101010;
  }
  .logo {
	max-width: 180px !important;
	margin: 35px;
	border: 3px solid #333333;
  }
  #cbf-page #cbf-parallax-1 {
	height: 950px;
  }
  #cbf-page #cbf-parallax-2,
  #cbf-page #cbf-parallax-3,
  #cbf-page #cbf-parallax-4,
  #cbf-page #cbf-parallax-5 {
	height: 350px;
  }
  #cbf-page #cbf-section-1 {
	transition: 0.3s;
	background-image: linear-gradient(to bottom right, #76d37a, #013f00);
	position: relative;
	overflow: hidden;
  }
  #cbf-page #cbf-section-1 #cbf-background-1 {
	position: absolute;
	top: 10%;
	left: -70%;
	width: 120%;
	height: 180%;
	background: radial-gradient(circle, #101010 15%, #333333 50%, #101010 100%);
	transform: rotate(-15deg);
  }
  #cbf-page #cbf-section-1 * {
	position: relative;
  }
  #cbf-page #cbf-section-1 .left-pane {
	height: 350px;
	position: relative;
  }
  #cbf-page #cbf-section-1 .left-pane .fab {
	font-size: 2rem;
  }
  #cbf-page #cbf-section-1 .right-pane {
	position: relative;
	height: 350px;
	justify-content: center;
  }
  #cbf-page #cbf-section-1 .right-pane #cbf-profile-pic {
	transition: 0.3s;
	width: 300px;
	border: 3px solid #4e4e4e;
  }
  @media (max-width: 992px) {
	#cbf-page #cbf-section-1 .right-pane #cbf-profile-pic {
	  width: 200px;
	}
  }
  @media (max-width: 992px) {
	#cbf-page #cbf-section-1 .right-pane {
	  height: 290px;
	}
  }
  #cbf-page #cbf-section-2,
  #cbf-page #cbf-section-3,
  #cbf-page #cbf-section-4,
  #cbf-page #cbf-section-5 {
	transition: 0.3s;
	background: radial-gradient(circle, #333333 50%, #101010 100%, #333333 100%);
  }
  #cbf-page #cbf-section-2 .left-pane,
  #cbf-page #cbf-section-3 .left-pane,
  #cbf-page #cbf-section-4 .left-pane,
  #cbf-page #cbf-section-5 .left-pane {
	justify-content: center;
  }
  #cbf-page #cbf-section-2 .right-pane,
  #cbf-page #cbf-section-3 .right-pane,
  #cbf-page #cbf-section-4 .right-pane,
  #cbf-page #cbf-section-5 .right-pane {
	display: block;
  }
  #cbf-page #cbf-section-2 .right-pane .cbf-tech i,
  #cbf-page #cbf-section-3 .right-pane .cbf-tech i,
  #cbf-page #cbf-section-4 .right-pane .cbf-tech i,
  #cbf-page #cbf-section-5 .right-pane .cbf-tech i {
	font-size: 18px;
	color: #333333;
  }
  #cbf-page #cbf-section-2 .right-pane .cbf-tech span,
  #cbf-page #cbf-section-3 .right-pane .cbf-tech span,
  #cbf-page #cbf-section-4 .right-pane .cbf-tech span,
  #cbf-page #cbf-section-5 .right-pane .cbf-tech span {
	font-weight: bold;
	font-size: 15px;
  }
  #cbf-page #cbf-section-5 {
	padding-top: 35px;
	padding-bottom: 35px;
  }
  #cbf-page #cbf-logo-html-css {
	height: 100px;
  }
  #cbf-page #cbf-logo-react {
	height: 100px;
    margin-left: 2%;
  }
  #cbf-page .animated * {
	transition: 0.45s;
  }
  #cbf-page .animated .no-transition,
  #cbf-page .animated .no-transition * {
	transition: unset;
  }
  #cbf-page .animated.hidden .transform-0 {
	transform: scale(0);
  }
  #cbf-page .animated.hidden .transform-1 {
	transform: scale(0.75);
  }
  #cbf-page .animated.hidden .transform-2 {
	transform: scale(0.5);
  }
  #cbf-page .animated.hidden .opacity-0 {
	opacity: 0;
  }
  #cbf-page .animated.hidden .right-1 {
	margin-left: -1000px;
  }
  #cbf-page .animated.hidden .right-2 {
	margin-left: -2000px;
  }
  #cbf-page .animated.hidden .right-3 {
	margin-left: -3000px;
  }
  #cbf-page .animated.hidden .right-4 {
	margin-left: -4000px;
  }
  #cbf-page .animated.hidden .right-5 {
	margin-left: -5000px;
  }
  #cbf-page .animated.hidden .right-6 {
	margin-left: -6000px;
  }
  #cbf-page .animated.hidden .right-7 {
	margin-left: -7000px;
  }
  #cbf-page .animated.hidden .right-8 {
	margin-left: -8000px;
  }
  #cbf-page .animated.hidden .right-9 {
	margin-left: -9000px;
  }
  #cbf-page .animated.hidden .right-10 {
	margin-left: -10000px;
  }
  .icons-container {
	  display: flex;
	  justify-content: space-around;
	  margin-right: 25%;
  }

  .icons-container > button {
	display: flex;
    align-items: center;
    justify-content: center;
  }
  .chip > svg > path {
	color: rgba(0,0,0,0.6);
}

.react-title {
	margin-left: 25%;
	margin-top: 0;
}

.react-title path {
	color: #47C7EE;
}

.cv-title {
	margin-bottom: 0;
}